{{template "base" .}}

{{define "content"}}
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>This is the about page</h1>
        <p>Here's some sample text </p>
        <p>Here's some more sample text </p>
      </div>
    </div>
  </div>
{{end}}